
<div>
  <h1>test321</h1>
  <h1 class="mat-display-1">test</h1>
  <section class="mat-typography">
      <h1>This header will be styled</h1>
    </section>
</div>
<div>
  <mat-icon style="font-size: 72px" color="warn" >android</mat-icon>
</div>


<div>
  <button mat-button color="primary" >Ok</button><br/>
  <button mat-raised-button color="primary" >Ok</button> <br>
  <button mat-icon-button color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-fab color="primary">Ok</button>
  <button mat-stroked-button color="warn">Ok</button>
</div>